@model SocialMediaApp.ViewModels.PostUserViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Posts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="caption" class="control-label"></label>
                <input asp-for="caption" class="form-control" />
                <span asp-validation-for="caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longtitude" class="control-label"></label>
                <input asp-for="longtitude" class="form-control" />
                <span asp-validation-for="longtitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="post_url" class="control-label"></label>
                <input asp-for="post_url" class="form-control" />
                <span asp-validation-for="post_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_created" class="control-label"></label>
                <input asp-for="date_created" class="form-control" />
                <span asp-validation-for="date_created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_update" class="control-label"></label>
                <input asp-for="date_update" class="form-control" />
                <span asp-validation-for="date_update" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="UserId" class="form-select form-control">
                    @foreach (User user in Model.Users)
                    {
                        <option value="@user.Id">@user.first_name @user.last_name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
